<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technical Share</title>


    <link rel="stylesheet" href="/styles/perfil.css">
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

</head>
<body>
    <section class="sidebar">
    
        <h2><img src="/images/perfil.svg" alt="">Technical Share</h2>
 
        <div class="main">
            <a href=""><span><img src="/images/home.svg" alt=""></span>Home</a>
            <a href=""><span><img src="/images/profissionais.svg" alt=""></span>Profissionais</a>
            <a href=""><span><img src="/images/forum.svg" alt=""></span>Fórum</a>
            <a href=""><span><img src="/images/noticias.svg" alt=""></span>Notícias</a>
            <a href=""><span><img src="/images/salaestudos.svg" alt=""></span>Sala de Estudos</a>
        </div>

        <div class="others">
            <a href=""><span><img src="/images/config.svg" alt=""></span>Config</a>
            <a href=""><span><img src="/images/subscription.svg" alt=""></span>Subscription</a>
            <a href=""><span><img src="/images/ideas.svg" alt=""></span>Ideas</a>
        </div>
    </section>

    <main>

    <div class="perfil">
        <img src="/public/images/unsplash_3JmfENcL24M.svg" alt="">
        <div class="perfil__info">
            <div class="name__office">
                <h3 class="name">Igor Cardoso</h3>
                <h3 class="office">UX DESIGNER</h3>
            </div>
            <div class="gender">
                <p>ele/dele</p>
            </div>
            <div class="tags">
                <p>UX</p>
                <p>UI</p>
                <p>Figma</p>
                <p>Design Thinking</p>
                <p>Research</p>
            </div>
            <div class="buttons">
                <button>Enviar Mensagem</button>
                <button>Agendar Mentoria</button>
            </div>
        </div>
    </div>
    <div class="sobre">
        <h3>SOBRE MIM</h3>
        <p>Mussum Ipsum, cacilds vidis litro abertis. Atirei o pau no gatis, per gatis num morreus.Delegadis gente finis, bibendum egestas augue arcu ut est.Pra lá , depois divoltis porris, paradis.Aenean aliquam molestie leo, vitae iaculis nisl.</p><br>
        <p>Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo!Per aumento de cachacis, eu reclamis.Cevadis im ampola pa arma uma pindureta.A ordem dos tratores não altera o pão duris.</p><br>
        <p>Per aumento de cachacis, eu reclamis.Viva Forevis aptent taciti sociosqu ad litora torquent.Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!Quem num gosta di mim que vai caçá sua turmis!</p>
    </div>
    
    <div class="agenda_container">
        <div class="day">
            <p class="day__text">Dia</p>
            <p clas="day__number">09</p>
        </div>
        <div class="text">
            Disponibilidade das <strong>15h00 </strong>até <strong>16h30</strong>
        </div>
        <button>Agendar horário</button>
    </div>

    <div class="agenda_container">
        <div class="day">
            <p class="day__text">Dia</p>
            <p clas="day__number">09</p>
        </div>
        <div class="text">
            Disponibilidade das <strong>15h00 </strong>até <strong>16h30</strong>
        </div>
        <button>Agendar horário</button>
    </div>

    <div class="agenda_container">
        <div class="day">
            <p class="day__text">Dia</p>
            <p clas="day__number">09</p>
        </div>
        <div class="text">
            Disponibilidade das <strong>15h00 </strong>até <strong>16h30</strong>
        </div>
        <button>Agendar horário</button>
    </div>

    <div class="agenda_container">
        <div class="day">
            <p class="day__text">Dia</p>
            <p clas="day__number">09</p>
        </div>
        <div class="text">
            Disponibilidade das <strong>15h00 </strong>até <strong>16h30</strong>
        </div>
        <button>Agendar horário</button>
    </div>

    <div class="agenda_container">
        <div class="day">
            <p class="day__text">Dia</p>
            <p clas="day__number">09</p>
        </div>
        <div class="text">
            Disponibilidade das <strong>15h00 </strong>até <strong>16h30</strong>
        </div>
        <button>Agendar horário</button>
    </div>


  

          
    </main>





</body>
</html>
