a{
    text-decoration: none !important;
}

h1{
    margin-bottom: 0.45rem;
}

.search{
    display: flex;
    justify-content: center;
    justify-items: center;
}

.homecards{
    display: grid;
    gap: 1.875rem;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 4.5rem;
    justify-content: center;
    align-items: center;
    justify-items: center;
    
}

.homecard{
    display: flex;
    flex-direction: column;
    width: 18.75rem;
    height: 27.625rem;
    background-color: #E0E1E2;
    border-radius: 1.25rem 1.25rem 0 0;
}

.homecard img{
    width: 18.75rem;
    height: 13.75rem;
    overflow-y: hidden;
}

.homecard button{
    position: relative;
    width: 3.5rem ;
    height: 2rem;
    z-index: 10;
    top: -2.5rem;
    left: 14.75rem;
}


.stamp{
    position: relative;
    z-index: 10;
    top: -12.75rem;
    left: 1rem;
    background-color: white;
    border-radius: 0.625rem;
    font-family: 'Rubik', sans-serif !important;
    font-weight: 800 !important;
    font-size: 0.5rem !important;
    padding: 0.25rem;
    width: 6.4375rem ;
    margin: 0
}

.userData{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 0.84375rem;
}

.userData h3{
    font-family: 'Rubik', sans-serif !important;
    font-weight: 600 !important;
}

.userData h3:not(.office){
    font-size: 1.125rem !important;
    color: #292E32;
}

.office{
    font-size: 1rem !important;
    color: #777B7E;
}

.userTags{
    display: flex;
    justify-content: center;
    align-items: flex-start !important;
}

.userTags__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.625rem  1.625rem;
    row-gap: 1rem;
}

.userTags p{
    background-color: #7474B4;
    color: #FBFBFB;
    font-family: 'Rubik', sans-serif !important;
    font-weight: 600 !important;
    font-size: 0.875rem !important;
    padding: 0.25rem 0.625rem;
    border-radius: 3.3125rem;
    margin-bottom: 0;
    text-align: center;
}