*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-size: 14.4px;
    font-family: 'Roboto', sans-serif !important;
    list-style-type: none; 
}

body, html{
    width: 100%;
    height: auto;
    display: flex;
}

.sidebar{
    background-color: #2A2962;
    height: 100%;
    flex: 0.20;
    padding-bottom: 25rem;
}

.sidebar h1 img{
    width: 2rem;
    height: 2rem;
}

.sidebar h2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2.5rem;
    padding-bottom: 3.5rem;
    gap: 0.75rem;
    font-family: 'Mulish', sans-serif !important;
    font-size: 1.2rem;
    font-weight: bold;
    color: #FFFFFF;
}

.sidebar .main{
    display: flex;
    flex-direction: column;
}

span img{
    width: 1rem;
    height: 1rem;
}

span{
    padding-right: 1.5rem;
}

.sidebar a{
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.5rem;
    font-family: 'Mulish', sans-serif !important;
    font-size: 1rem;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 2rem;
    opacity: 0.4;
}

.sidebar a:hover{
    border-left: 0.2rem white solid;
    color: #FFFFFF;
    opacity: 1;
    background-color: hsla(249, 12%, 66%, 0.08);
}

.others{
    margin-top: 5.75rem;
    padding-top: 1rem;
    border-top: 1px rgba(255, 255, 255, 0.116) solid ;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 4.6875rem;
}

.perfil{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 9rem;
}

.perfil img{
    width: 18.875rem;
    height: 18.875rem;
}

.perfil__info{
    display: flex;
    flex-direction: column;    
}

.name__office{
    display: flex;
    align-items: baseline;
}

.name{
    font-family: 'Rubik' !important;
    font-weight: 600 !important;
    font-size: 2rem;
    padding-left: 2.375rem;
    padding-right: 0.75rem;
    border-right: 1px solid black;
}

.office{
    padding-left: 0.75rem;
    color: #919598;
}

.gender{
    display: flex;
    width: 100%;
    padding-left: 2.375rem;
    color: #5D6165;
}

.tags{
    width: 21.875rem;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-left: 2.375rem ;
    row-gap: 0.5rem;
    padding-top: 0.625rem;
}

.tags p{
    background-color: #2A2962;
    color: #FFFFFF;
    font-family: 'Rubik' !important;
    font-weight: 600 !important;
    font-size: 0.875rem;
    border-radius: 3.3125rem;
    padding: 0.25rem 0.625rem;
}

.buttons{
    display: flex;
    justify-content: center;
    padding-left: 2.375rem;
    padding-top: 1.8125rem;
    gap: 1rem;
}

button{
    width: 10.1875rem;
    height: 2.4375rem;
    background-color: #FE5517;
    color:#FFFFFF;
    border-radius: 0.625rem !important;
    font-family: 'Roboto' !important;
    font-weight: 700 !important;
    font-size: 1rem !important;
}

.sobre{
    padding: 2.625rem 9rem;
}

.sobre h3{
    font-family: 'Rubik'!important;
    font-weight: 700 !important;
    font-size: 1.25rem !important;
    margin-bottom: 0.875rem;
}

.agenda_container{
    background-color:#F6F6F9;
    width: auto;
    height: 4.0625rem;
    margin:0 9rem;
    border-radius: 1.25rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.day{
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 3.125rem;
    background-color: #7474B4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto'!important;
    font-weight: 400!important;
}

.day__text{
    font-size: 0.6875rem;
}

.day__number{
    font-size: 1.3125rem;
}

.text{
    font-family: 'Rubik'!important;
    font-weight: 400 !important;
    font-size: 1rem;
}