<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Technical Share - FCamara</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">



    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="./styles/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    
<main class="form-signin">
  <form id="credentials_form" action="#" method="POST">
    <h1 class="fcamara_logo"><div class="fcamara_logo ">F</div></h1>
    <h1 class="h6 mb-3 fw-normal">Mussum Ipsum, cacilds vidis litro abertis.</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
      name="userCredentials">
      <label for="floatingInput">Nome de usuário ou email</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
      name="userPassword">
      <label for="floatingPassword">Senha</label>
    </div>
    <button class="w-100 btn btn-lg btn-warning" type="submit" id="send_form_button">Entrar</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
  </form>
</main>


    
  </body>

  <script src="./scripts/index.js"></script> 
</html>


<!-- <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technical Share - FCamara</title>
</head>
<body>
    <div class="container">
        <section>
            <h2>Acessar:</h2>
            <form id="credentials_form" action="#" method="POST">
                <label for="">E-mail</label>
                <input type="text" id="user_credentials" name="userCredentials">
                <label for="">Senha</label>
                <input type="password" id="user_password" name="userPassword">
                <button id="send_form_button">Entrar</button>
         
            </form>
        </section>
    </div>
</body>

<script src="./scripts/index.js"></script> 


</html> -->