<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technical Share - FCamara</title>
</head>
<body>
    <div class="container">
        <section>
            <h2>Acessar:</h2>
            <form id="credentials_form" action="#" method="POST">
                <label for="">E-mail</label>
                <input type="text" id="user_credentials" name="userCredentials">
                <label for="">Senha</label>
                <input type="password" id="user_password" name="userPassword">
                
                <button id="send_form_button">Entrar</button>

               


            </form>
        </section>
    </div>
</body>

<script src="scripts/main.js"></script> <!--Pq não aceita o caminho completo?-->

</html>