<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Technical Share</title>

  <link rel="stylesheet" href="/styles/index.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

</head>

<body>
  <section class="left">
    <div class="logo"></div>
  </section>

  <main>
    <div class="center">
      <h1>Acessar Portal</h1>
      <form id="credentials_form" class="loginForm" method="#">
        <label class="labelEmail" for="">E-mail</label>
        <input id="floatingInput" class="inputEmail" type="email" name="userCredentials" placeholder="Seu email"
          required>
        <label class="labelSenha for="">Senha</label>
        <input 
        id=" floatingPassword" class="inputSenha" type="password" name="userPassword" placeholder="Sua senha" required>
          <button type="submit" id="send_form_button" class="loginButton">Entrar</button>
          <p class="login_error">Nome de usuário ou senha não encontrado.</p>
      </form>
    </div>
  </main>

  <section class="right">
    <div class="title">
      <h3>Bem vindo a</h3>
      <h2>Technical Share</h2>
    </div>
    <div class="article">
      <div class="left_line">
        <p>Agende mentorias com outros Sangues laranja</p>
        <p>Personalize seu perfil com as suas skills</p>
      </div>
      <div class="right_line">
        <p>Compartilhe perguntas na comunidade</p>
      </div>
    </div>

  </section>

  <script src="/scripts/login.js"></script>

</body>

</html>