<%- include(`parts/header`) %>
    <link href="/styles/signin.css" rel="stylesheet">
    <title>Technical Share - FCamara</title> 
  </head>

<body class="text-center">
    
  <main class="form-signin">
    <form id="credentials_form" method="#">

      <h1 class="fcamara_logo"><div class="fcamara_logo ">F</div></h1>
  
      <h1 class="h6 mb-3 fw-normal" id="login_msg">Mussum Ipsum, cacilds vidis litro abertis.</h1>

      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
      name="userCredentials">
        <label for="floatingInput">Nome de usuário ou email</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
      name="userPassword">
       <label for="floatingPassword">Senha</label>
      </div>
        
      <button class="w-100 btn btn-lg btn-warning" type="submit" id="send_form_button">Entrar</button>

      <p class="login_error">Nome de usuário ou senha incorretos.</p>

      <p class="mt-3 mb-3 text-muted">&copy; FCamara - Programa de Formação {SEASON 3} - Squad22 - 2022</p>
    </form>
  </main>

  
   
  <script src="/scripts/login.js"></script> 
</body>


</html>