<%- include(`parts/header`) %>

<!-- <link href="/styles/signin.css" rel="stylesheet"> -->
    <title>Technical Share - FCamara</title> 
  </head>

<body class="text-center">
    
  <main>
    <h1>Conte um pouco sobre você</h1>
    <form id="subscribeForm" method="#">
    <div>
        <p> Perfil: </p>
        <label for="subscribeName">Nome de usuário:  </label>
        <input type="text" id="subscribeName" name="subscribeName">
    </div>
    <div>
        <label for="subscribeEmail">email:  </label>
        <input type="email" id="subscribeEmail" name="subscribeEmail">
    </div>
    <div>
        <label for="subscribeTags">tags:  </label>
        <input type="text" id="subscribeTags" name="subscribeTags">
    </div>
        <p> Senha: </p>
        <div>
            <label for="subscribePassword">Senha:  </label>
            <input type="password" id="subscribePassword" name="subscribePassword">
        </div>
        <!-- <div>
            <label for="subscribeName">Confirme a senha:  </label>
            <input type="text" id="subscribeName" name="subscribeName">
        </div> -->
      <button type="submit" id="sendSubscribe">Entrar</button>
      </form>
  </main>

  
   
  <script src="/scripts/subscribe.js"></script> 
</body>


</html>

<!-- <form id="credentials_form" method="#">

    <h1 class="fcamara_logo"><div class="fcamara_logo ">F</div></h1>

    <h1 class="h6 mb-3 fw-normal" id="login_msg">Mussum Ipsum, cacilds vidis litro abertis.</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
    name="userCredentials">
      <label for="floatingInput">Nome de usuário ou email</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
    name="userPassword">
     <label for="floatingPassword">Senha</label>
    </div>
    <button class="w-100 mb-2 btn btn-lg btn-warning" type="submit" id="send_form_button">Entrar</button>
    <a class="w-100 btn btn-lg btn-outline-warning" href="#" id="send_form_button">Inscrever-se</a>
    <p class="login_error">Nome de usuário ou senha incorretos.</p>
    <p class="mt-3 mb-3 text-muted">&copy; FCamara - Programa de Formação {SEASON 3} - Squad22 - 2022</p>
  </form> -->