<div class="homecards" id="homecards">
    <script>

      let name = `<%-name%>`
      name = name.split(',')
      let id = `<%-id%>`
      id = id.split(',')
      let tag = `<%-tag%>`
      tag = tag.split(',')
      let office = `<%-office%>`
      office = office.split(',')

      let injectHTML = document.querySelector('#homecards')




      for (let i = 0; i < name.length; i++){
        injectHTML.innerHTML += `        <div class="homecard">
        <img src="/uploads/profilepicture-alf@deet.svg" alt="">
        <p class="stamp">Programa de Formação</p>
        <div class="userData">
            <h3 class="name">${name[i]}</h3>
            <h3>|</h3>
            <h3 class="office">${office[i]}</h3>
        </div>
        <div class="userTags">
            <div class="userTags__container" id="Tags${i}">
               
            </div>
        </div>  
    </div>`
    
    tag[i] = tag[i].split(';')

    let injectTags = document.querySelector(`#Tags${i}`)

    for (let j = 0; j < tag[i].length; j++){

    injectTags.innerHTML += `<p>${tag[i][j]}</p>`
    }


      }


      console.log(tag)
   




      
       
      
      </script>


  <!-- <div class="homecard">
      <img src="/images/userpicture.svg" alt="">
      <p class="stamp">Programa de Formação</p>
      <div class="userData">
          <h3 class="name">Érico Rosa</h3>
          <h3>|</h3>
          <h3 class="office">UX DESIGNER</h3>
      </div>
      <div class="userTags">
          <div class="userTags__container">
              <p>UX</p>
              <p>UI</p>
              <p>Figma</p>
              <p>Figma</p>
              <p>Design Thinking</p>
              <p>Research</p>
          </div>
      </div>  
  </div> -->


  


</div>



</main>

<section>

</section>

</body>
</html>