<div class="setores">
<h2>Conheça os Sangues Laranjas de cada setor</h2>
<div class="cards">
  <div class="card">
    <h3>UX/UI<br>DESIGN</h3>
    <img src="/images/avatars.svg" alt="">
  </div>
  <div class="card">
    <h3>ENGENHEIROS<br>DE SOFTWARE</h3>
    <img src="/images/avatars.svg" alt="">
  </div>
  <div class="card">
    <h3>DEV'S<br>BACK-END</h3>
    <img src="/images/avatars.svg" alt="">
  </div>
  <div class="card">
    <h3>TECH<br>LEADERS</h3>
    <img src="/images/avatars.svg" alt="">
  </div>
  <div class="card">
    <h3>PROCUCT<br>OWNERS</h3>
    <img src="/images/avatars.svg" alt="">
  </div>
  <div class="card">
    <h3>QA'S</h3>
    <img src="/images/avatars.svg" alt="">
  </div>

</div>
</div>
</div>
</main>

<section class="rigth_bar">
<div class="calendar">
<img src="/images/calendar.svg" alt="">
</div>
<div class="notifications">
<div>
  <h3>Notificações</h3>
  <ul>
    <li>
 
        <img src="/images/Ellipse 23.svg" alt="">
        <div>
          <h3>Jamile Mira</h3>
          <p>Porém, cada uma dessas áreas...</p>
        </div>

    </li>
    <li></li>
    <li></li>
  </ul>
</div>
</div>
</section>


</body>

<script src="/scripts/pesquisa.js"></script>

</html>