.center {
    flex: 0.9;
}

.center__container {
    margin: 3.5rem;
    display: flex;
    flex-direction: column;
}

.center__top {
    display: flex;
    flex-direction: column;
}

.top__welcome h1 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    padding-bottom: 0.875rem;
}

.top__welcome p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    padding-bottom: 1.6875rem;
}

.top__search form {
    display: flex;
    align-items: center;
}

.top__search input {
    width: 33.25rem;
    height: 4.3125rem;
    border: none;
    background-color: #E0E1E2;
    border-radius: 0.3125rem 0 0 0.3125rem;
    padding-left: 1rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
}

.top__search input:focus {
    outline: none;
}

.top__search button {
    border: none;
    background-color: orangered;
    width: 4.9375rem;
    height: 4.3125rem;
    border-radius: 0 0.3125rem 0.3125rem 0;
    cursor: pointer;
}

.top__search button img {
    width: initial;
    height: initial;
}

.top__search button img:hover {
    width: 3rem;
    height: 3rem;
}

.center__down {
    padding: 3.375rem 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.perfil__card {
    width: 18.75rem;
    height: 27.625rem;
    background-color: #E0E1E2;
    border-radius: 1.25rem;
    margin: 0;
}

.card__top {
    height: 50%;
}

.card__top img {
    width: 18.75rem;
    height: 100%;
    border-radius: 1.25rem 1.25rem 0 0;
}

.card__bottom {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 2.0625rem;
}

.bottom__personal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personal__title {
    display: flex;
    align-items: baseline;
}

.personal__title h2 {
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 1.125rem;
    margin-top: 0.875rem;
    padding-right: 1rem;
    border-right: 2px black solid;
    color: #292E32;
}

.personal__title h3 {
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 1rem;
    color: #5D6165;
    padding-left: 1rem;
}

.personal__gender {
    margin-top: 0.5625rem;
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 0.75rem;
    color: #5D6165;
    padding-bottom: 1rem;
}

.personal__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1rem;
    column-gap: 1rem;
    column-gap: max(auto, 1rem);
    padding: 0 1rem;
}

.personal__tags p {
    text-align: center;
    background-color: #2A2962;
    color: #FBFBFB;
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 0.875rem;
    padding: 0.25rem 0.625rem;
    border-radius: 3.3125rem;
}

.tag__button {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.seeButton {
    background-color: orangered;
    width: 14.625rem !important;
    height: 2.3125rem;
    border-radius: 0 0 1.25rem 1.25rem;
    padding: 0 2.0625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 0.875rem;
    color: #FBFBFB;
}
