* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.left {
    flex: 0.1;
    width: 5.625rem;
    height: 100%;
    background-color: #2A2962;
    display: flex;
    justify-content: center;

}

.logo {
   margin-top: 3.75rem;
}

.center {
    flex: 0.5;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.center h1 {
    font-family: 'Rubik';
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 2.5rem;
    color: #6263AB;
}

.loginForm {
    display: flex;
    flex-direction: column;
}

.labelEmail,
.labelSenha {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

.inputEmail,
.inputSenha {
    width: 25.375rem;
    height: 3.1875rem;
    border: 1px solid #E0E1E2;
    border-radius: 0.625rem;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    padding-left: 1rem;

}

.inputEmail {
    margin-bottom: 1.5rem;
}

.loginButton {
    margin-top: 3.4375rem;
    width: 25.375rem;
    height: 3.1875rem;
    background-color: #FE4400;
    border-radius: 0.625rem;
    color: #FBFBFB;
    border: none;
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 1rem;
}


.right {
    height: 100%;
    flex: 0.4;
    background-color: #2A2962;
    border-radius: 3.125rem 0px 0px 3.125rem;
    display: flex;
    flex-direction: column;
    color: #FBFBFB;
    align-items: center;
    justify-content: center;
}

.title {
    padding-top: 8rem;
    flex: 0.25;
}

.right h3 {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 2rem;
}

.right h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
}

.article {
    flex: 0.75;
    display: flex;
    
}

.left_line {
    display: flex;
    flex-direction: column;
    border-right: 1px solid white;
    text-align: right;
    padding-right: 0.625rem;
    justify-content: space-between;
    margin-bottom: 9rem;
    padding-left: 2.0625rem;
    
}

.right_line {
    margin-left: 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7.125rem;
    margin-bottom: 9rem;
    padding-right: 2.0625rem;
}

p {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 0.9375rem;
}

.login_error {
    color: red;
    text-align: center;
    margin-top: 1rem;
    height: 2rem;
}

.cadastro{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1rem;
    color: #2A2962;
    text-align: center;
    margin-top: 1rem;
    height: 2rem;
}
