/* Show it is fixed to the top */
body {
  min-height: 100vh;
  padding-top: 4.5rem;
}

.fcamara_logo_alt:not(h1){
  background-color: black;
  width: 2.75rem;
  height:  2.75rem;
  color: #ffc107;
  margin: auto;
  border-radius: 3rem 0rem 3rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 0;
  padding-top: 0.25rem;
}

#teste{
  border-color: rgb(0 0 0);
}

