.center{
    flex: 0.9;
}

.center__container{
    margin: 4.375rem;
    display: flex;
    flex-direction: column;
    margin: 7.5rem 7.5rem;
}

.center__header{
    display: flex;
    align-items: flex-end;
    padding-left: 2.1875rem;
}

.center__header > img{
    margin-right: 2.1875rem;
}

.header__info{
    display: flex;
    flex-direction: column;
}

.info__header{
    display: flex;
    align-items: baseline;
}

.info__header h2{
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 2rem;
    color:#292E32;
    padding-right:0.5625rem;
    border-right: 2px solid black;
}

.info__header h3{
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 2rem;
    color: #919598;
    padding-left:0.5625rem;
}

.info__header p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #5D6165;
    padding-left:0.5625rem;
}

.header__tags{
    display: flex;
    gap: 0.625rem;
}

.header__tags p{
    background-color: #2A2962;
    color: #FBFBFB;
    padding: 0.25rem 0.625rem;
    border-radius: 3.3125rem;
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 0.875rem;
    margin-top: 1rem;
}

.header__others{
    display: flex;
    margin-top: 3.125rem;
}

.others__verticais, .others__clientes{
    display: flex;
    flex-direction: column;
    margin-right: 5.5rem ;
}

.others__verticais h3, .others__clientes h3{
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 1rem;
    color: #292E32;
}

.others__verticais p,
.others__clientes p{
    background-color: #7474B4
    ;
    color: #FBFBFB;
    padding: 0.25rem 0.625rem;
    border-radius: 3.3125rem;
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 0.875rem;
}

.others__verticais p{
    width: 4rem;
}

.others__button{
    display: flex;
    background-color: orangered !important;
    width:10.6875rem;
    height:2.4375rem;
    color: #FBFBFB;
    border-radius:0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;    
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1rem;
    gap: 0.3125rem;
}

.center__bio{
    display: flex;
    flex-direction: column;
    padding-left: 2.1875rem;
    margin-top: 4.0625rem;
}

.center__bio h2{
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 1.25rem;
}

.center__bio p{  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    color: #5D6165;
    line-height: 1.5625rem;
    text-align: justify;
    letter-spacing: -0.02rem;
    margin-top: 0.875rem;
}

.agenda{
    display: flex;
    flex-direction: column;
    margin-top: 6.25rem;
    padding-left: 2.1875rem;
}

.agenda__container{
    display: flex;
    align-items: center;
    margin-top:1.5625rem;
}

.agenda h2{
    font-family: 'Rubik';
    font-style: normal;
    font-size: 1.25rem;
    color: #030026;
}

.agenda__pop{
    background-color: #F6F6F9;
    border-radius: 1.25rem;
    display: flex;
    align-items: center;
    width: 53.0625rem;
    height: 4.0625rem;
    justify-content: center;
}

.pop__date{
    background-color: #2A2962;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 3.125rem;
    color: #FBFBFB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2.125rem;
}

.pop__date p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 0.6875rem;
}

.pop__date h3{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.3125rem;
}

.agenda__pop img{
    margin-right: 1.75rem;
}


.pop_text{
    flex: 1;
    margin-left: 1.875rem;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 1rem;
}

.pop__agendar{
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 3.125rem;
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2.0625rem;
    justify-self: flex-end;
}

.pop__agendar__incluir{
    width: 9.0625rem;
    height: 2.4375rem;
    border-radius: 0.625rem;
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2.0625rem;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1rem;
    color: #FBFBFB;
}