.search_container form{
  display: flex;
  align-items: center;
}


.search_input{
  width: 38.6875rem;
  height: 4.3125rem;
  border: none;
  border-radius: 0.3125rem 0 0 0.3125rem;

  outline: none;
  color: #ABAEB1;
  background-color: #F6F6F6;
}

.search_button{
  width: 4.3125rem;
  height: 4.3125rem;
  background-color: #2A2962;
  border-radius: 0 0.3125rem 0.3125rem 0;
}

.search_button img{
  width: 2.3rem;
  height: 2.3rem;
  transition: 0.25s;
  transition-timing-function: ease-in-out;
}

.search_button img:hover{
  width: 3rem;
  height: 3rem;
  transition: 0.25s;
  transition-timing-function: ease-in-out;
}

/* 
.search {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.searchTerm {
  width: 100%;
  border-right: none;
   height: 4.3rem;
  border-radius: 0.3125rem 0 0 0.3125rem;
  outline: none;
  color: #ABAEB1;
  background-color: #F6F6F6;
  padding-left: 1rem;
}

.searchTerm:focus{
  color: #2A2962;
}

.searchButton {
  width: 5.3rem;
  height: 4.3rem;
  border: 1px solid #2A2962;
  background: #2A2962;
  text-align: center;
  color: #fff;
  border-radius: 0 0.3125rem 0.3125rem 0;
  cursor: pointer;
  font-size: 1rem;
}

.searchButton img{
  width: 2.3rem;
  height: 2.3rem;
  transition: 0.25s;
  transition-timing-function: ease-in-out;
}

.searchButton img:hover{
  width: 3rem;
  height: 3rem;
  transition: 0.25s;
  transition-timing-function: ease-in-out;
}

.wrap{
  width: 36.25rem;
 padding-top: 1.8rem;
} */


