*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

a{
    all: unset;
    cursor: pointer;
}

body, html{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    
}

.left{
    flex: 0.20;
    background-color: #2A2962;
    height: 100%;
    padding-bottom: 50rem;
}

.sidebar__container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color:#FBFBFB;
    align-items: center;
}

.sidebar__header{
    padding-top: 3.75rem;
    padding-bottom: 4.375rem;
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
}

.sidebar__header .logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar__menu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sidebar__menu ul{
    width: 100%;
    align-self: flex-start;
}

.sidebar__menu ul li{
    height: 3.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    border-left: 0rem solid #FBFBFB;
    transition: 0.5s;
    transition-timing-function: ease-out;

}

.sidebar__menu ul li:hover{
    border-left: 1rem solid #FBFBFB;
    opacity: 1;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

.sidebar__menu ul li img{
    margin:0 1rem;
    width: 4rem;
    height: 4rem;
    padding: 0 1rem;
    color: #2A2962;
}
.menu__home,
.menu__sanguesLaranja,
.menu__perfil,
.menu__user {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    opacity: 0.4;
}

.menu__user {
    justify-self: flex-end;
    padding-top: 20rem;
}

.menu__user p {
    text-align: center;
}

#userName, #userEmail{
    color: #2A2962;
}