<%- include(`parts/header`) %>
<%- include(`parts/loginpage`) %>
      <p class="login_error"></p>
      <p class="mt-3 mb-3 text-muted">&copy; FCamara - Programa de Formação {SEASON 3} - Squad22 - 2022</p>
    </form>
  </main>

  
   
  <script src="/scripts/login.js"></script> 
</body>


</html>